*{margin: 0 ;
padding: 0;}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0 ;
  
}

.cabecalho
{ background-color: #1c3cc9 ;  color: rgb(238, 31, 31); 

display: flex; 
justify-content: space-around;
padding: 24px 0;
font-size: 24px;
}

